/* navbar styling */
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0;
    background-color: #6599f4;
}


.logo a{
    font-size: 50px;
    color: white;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    gap: 10px;
}

.navbar a {
    color: white;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

main > p{
    padding: 10px;
    text-align: center;
}

.featured{
    /* border: 1px solid red; */
    padding: 10px;
}

.featured-items{
    display: flex;
}
.site-blurb{
    padding-right: 100px;
    padding-left: 100px;
}

.featured-items section{
    background-color: #6599f4;
    margin: 5px;
    padding: 10px;
    color: white;
    border-radius: 8px;
}


h3 a{
    color: white;
}

h1{
    /* border: 1px solid green; */
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
    font-size: 3rem
}

footer p{
    text-align: right;
    background-color: #6599f4;
    margin: 0;
    padding: 15px;
    color: white;
}


a{
    text-decoration: none;
}

.site-title{
    font-size: 4rem;
    margin-top: 150px;
    /* transition: transform 200ms ease, color 200ms ease; */

}

/* .site-title:hover {
    transform: scale(1.05);
    color: #6599f4;
} */
.title-subtitle{
    text-align: center;
}

.title-subtitle p{
    margin-top: 10px;
}

/* workouts page styling */


.exercises{
    /* border: green 1px solid; */
    /* margin: 10px; */
    display: flex;
    /* background-color: #6599f4; */

    

}
.video-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    border-radius: 8px;
    width: 50%;
    background-color: #6599f4;

}

.video-container p{
    width: auto;
    text-align: center;
    color: white;
    
}

iframe{
    border-radius: 8px;
}

/* Strength training styling*/
table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid ;
    padding: 8px;
    background-color: #6599f4;
    color: white;
}

table{
    width: 50%;
    margin: 20px;
}


.workouts{
    /* border: red 1px solid; */
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.table-exercises{
    display: flex;
}

.workout h2{
    text-align: center;
    margin-top: 100px;
}

/*MEAL PREP PAGE STYLING*/
.meals article{
    margin: 20px;
    padding: 20px;
    background-color: #6599f4;
    color:white;
    border-radius: 8px;;
}

.img-stats{
    display: flex;
    padding: 20px;
    align-items: center;
}

.stats{
    padding-left: 20px;
    padding-right: 20px;
}

.img-stats img{
    border-radius: 8px;
}



/*MORERESOURCES.HTML STYLING*/

.article-info{
    /* border: 1px solid black; */
}

.article-info h2{
    margin-bottom: 0;
}

.article-info > p{
    margin-top: 5px;

}

.additional-resources > article{
    margin: 40px;
    padding: 40px;
    background-color: #6599f4;
    color: white;
    border-radius: 8px;
}

.article-info > a{
    color: white;
}
